# Node modules
node_modules/

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Logs
*.log

# Environment files
.env
.env.*

# MacOS system files
.DS_Store

# WebStorm IDE files
.idea/
*.iml

# Output folders
dist/
build/

# Coverage folder (if using coverage tools)
coverage/

# npm package-lock
package-lock.json

# Misc
tmp/
temp/

# Reports
mochawesome-report/